.ff{color: green;}
.abu{color: brown;}
.free{width: 700px;
height: 400px;}
.pubg{height: 400px;
width: 400px;}
body{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgfjQVI0asVFbuR975eqxyn4YE_1u38VWIZw&s);
background-repeat: no-repeat;
background-size: cover;
background-position: center;}